<% include ./partials/header %>

<div class="sect sect--padding-bottom">
    <div class="container">
        <div class="row row--center">
            <h1 class="row__title">
                누구와 채팅을 하고 싶나요?
            </h1>
            <h2 class="row__sub">선택하세요</h2>
        </div>
        <div class="row row--center row--margin">
            <div class="col-md-4 col-sm-4 price-box price-box--purple">
                <div class="price-box__wrap">
                    <div class="price-box__img"></div>
                    <h1 class="price-box__title">
                        유저
                    </h1>
                    <p class="price-box__people">
                        users
                    </p>
                    <p class="price-box__feat">
                        무엇인가요?
                    </p>
                    <ul class="price-box__list">
                        <li class="price-box__list-el">접속한 유저들과</li>
                        <li class="price-box__list-el">대화하세요</li>
                    </ul>
                    <div class="price-box__btn">
                        <a class="btn btn--purple btn--width">Start now</a>
                    </div>
                </div>
            </div>
            <!-- second -->
            <div class="col-md-4 col-sm-4 price-box price-box--blue">
                <div class="price-box__wrap">
                    <div class="price-box__img"></div>
                    <h1 class="price-box__title">
                        1대1
                    </h1>
                    <p class="price-box__people">
                        private
                    </p>
                    <p class="price-box__feat">
                        무엇인가요?
                    </p>
                    <ul class="price-box__list">
                        <li class="price-box__list-el">접속한 유저와</li>
                        <li class="price-box__list-el">1대1로 대화하세요</li>
                    </ul>
                    <div class="price-box__btn">
                        <a class="btn btn--blue btn--width">Start now</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 price-box price-box--violet">
                <div class="price-box__wrap">
                    <div class="price-box__img"></div>
                    <h1 class="price-box__title">
                        관리자
                    </h1>
                    <p class="price-box__people">
                        admin
                    </p>
                    <p class="price-box__feat">
                        무엇인가요?
                    </p>
                    <ul class="price-box__list">
                        <li class="price-box__list-el">09시~16시에 실시간으로</li>
                        <li class="price-box__list-el">우리에게 문의하세요</li>
                    </ul>
                    <div class="price-box__btn">
                        <a class="btn btn--violet btn--width">Start now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<% include ./partials/footer %>